@media screen {}
@media print {}
@media screen {
	div#preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
	div#preloader img {
		display: block;
		}
	}
@media print {
	div#preloader, 
	div#preloader img {
		visibility: hidden;
		display: none;
		}
	}

html, body {
    @import url(http://fonts.googleapis.com/css?family=Roboto);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
}

#bg {
    background-image: url('img/bg%20(67).png');
    background-size:   contain;                    
    background-repeat: no-repeat;
    background-position: center bottom;  
    z-index: 0;
}




#text {
    font-size : 10pt;
    text-align: center;
    line-height: 1.5em;
}



#logo {
    font-size : 10pt;
    visibility: hidden;
    position : absolute;
    text-align: center;
    bottom: 10px;
    left: 20px;
}

.submenu {
    visibility: hidden;
    width : 80%;
    height : 80px;
    position : absolute;
    text-align: center;
    bottom: 10px;
    left: 20px;
    display: flex;
    vertical-align: middle;
    
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size : 9pt;
    background : rgba(255,255,255,0.4);
    width : 80px;
    margin-right: 10px;
    line-height: 1.5em;    
}


.seize:hover{
     background-image : url('seize/thumb.png');
    font-size : 0pt;
}
.lpify:hover{
    background-image : url('lpify/thumb.png');
    font-size : 0pt;
}
.youshare:hover{
    background-image : url('youshare/thumb.png');
    font-size : 0pt;
}
.ryou:hover{
    background-image : url('ryou/thumb.png');
    font-size : 0pt;
}
.vl:hover{
    background-image : url('vl/thumb.png');
    font-size : 0pt;    
}
.platypus:hover{
    background-image : url('platypus/thumb.png');
    font-size : 0pt;
}
.navpal:hover{
    background-image : url('navpal/thumb.png');
    font-size : 0pt;
}
.engage:hover{
    background-image : url('engage/thumb.png');
    font-size : 0pt;
}
