

html, body {
    @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
    @import url(http://fonts.googleapis.com/css?family=Roboto);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    
}

::-webkit-scrollbar {
    width: 25px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #ccc;
   
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}


#bg {
    background-image: url('img/bg%20(67).png');
    background-size:   contain;                    
    background-repeat: no-repeat;
    background-position: center bottom;  
    z-index: 0;
}


#field{
    background-color : rgba(255,255,255,0.92);
    width : 1138px;
    mih-width : 1138px;
    height : 470px;
    min-height: 470px;
}

#picture {
    width :50%;
    height:100%;
    font-size : 10pt;
    text-align: center;
    line-height: 1.5em;
    float:left;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;   
    width :50%;
    height:100%;
    padding: 20px; 
}

.imgbox{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;  
    padding: 10px; 

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width :100%;
    height:80%;
    background-image : url('youshare/p1.png');
    background-size:contain;  
    background-repeat: no-repeat;
    background-position: center center; 

}

.small{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width :100%;
    height:20%;
    background-size:cover;  
    background-repeat: no-repeat;
    background-position: center center; 

}
.img{
    height : 100%;
    width :70px;
    margin-right: 10px;

}

.p1{
    background-image:url("youshare/p1.png"); 
    
}

.p2{
    background-image:url("youshare/p2.png"); 
}

.p3{
    background-image:url("youshare/p3.png"); 
}
.p4{
    background-image:url("youshare/p4.png"); 
}
.p5{
    background-image:url("youshare/p5.png"); 
}
.p6{
    background-image:url("youshare/p6.png"); 
}

.f{
    background-image:url("youshare/f.png"); 
}


#text {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;   
    width :50%;
    height:100%;
    padding: 15px 0px 25px 25px;
    float:left;

}
#title {
    font-size : 10pt;
    text-align: left;
    line-height: 1.7em;
    height:30%;

}
#description{
    font-family: 'Roboto Condensed', sans-serif;
    height:70%;
    color : #222;
    font-size : 10pt;
    text-align: justify;
    line-height: 2em;
    overflow-y: scroll;
}

#logo {
    font-size : 10pt;
    visibility: visible;
    position : absolute;
    text-align: center;
    bottom: 10px;
    left: 20px;
    z-index: 100;

}

.submenu {
    visibility: hidden;
    width : 80%;
    height : 80px;
    position : absolute;
    text-align: center;
    bottom: 10px;
    left: 20px;
    display: flex;
    vertical-align: middle;
    
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size : 9pt;
    background : rgba(255,255,255,0.4);
    width : 80px;
    margin-right: 10px;
    line-height: 1.5em;    
}


.seize:hover{
     background-image : url('seize/thumb.png');
    font-size : 0pt;
}
.lpify:hover{
    background-image : url('lpify/thumb.png');
    font-size : 0pt;
}
.youshare:hover{
    background-image : url('youshare/thumb.png');
    font-size : 0pt;
}
.ryou:hover{
    background-image : url('ryou/thumb.png');
    font-size : 0pt;
}
.vl:hover{
    background-image : url('vl/thumb.png');
    font-size : 0pt;    
}
.platypus:hover{
    background-image : url('platypus/thumb.png');
    font-size : 0pt;
}
.navpal:hover{
    background-image : url('navpal/thumb.png');
    font-size : 0pt;
}
.engage:hover{
    background-image : url('engage/thumb.png');
    font-size : 0pt;
}